body {
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.watchNewTokenButton {
  background-color: #333;
  border:1px solid #;
}
.watchNewTokenButton:hover{
  background-color: #669;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  color: #61dafb;
}
a:visited {
  color: #0dd;
}
a:hover {
  color: #fff
}

.rowHover {
  
}
.rowHover:hover {
  border: 1px solid #fff;
}

.transactionRow{
  animation: infinite 1s newTxAnimation ease-in-out;
  box-sizing: border-box;
}

@keyframes newTxAnimation {
  0% {
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
  }

  50% {
    border-left: 5px solid rgba(255,255,255,1);
    border-right: 5px solid rgba(255,255,255,1);
  }
  100% {
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
  }
}

::-webkit-scrollbar {
  width: 0.1vw;
  background-color: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  width: 0vw;
}


.deadHeartbeat {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.goodHeartbeat {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.showLatestBlock {
  visibility: visible;
  opacity: 1;
  transition: opacity 4s linear;
}

.hideLatestBlock {
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0s 0s, opacity 0s linear; */
}


.hoverAddNewToken {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverAddNewToken:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}


.timeFilter-slider{
  -webkit-appearance: none;
  width: 92%;
  margin-left:3.75vw;
  height: 1.5vh;
  border-radius: 5px;
  background: rgba(50,100,150, 1);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeFilter-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 3vw;
  height: 1.5vw;
  border-radius: 0.5vh;
  background: rgba(100,200,250, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;


}
/* .timeFilter-track{
  

} */

.hoverResetTimeFilter{
  background-color: rgba(100,200,250, 0.4);
  cursor:pointer;
  user-select: none;
}
.hoverResetTimeFilter:hover {
  background-color: rgba(100,200,250, 1);
  cursor:pointer;
  user-select: none;
}

.filterResetHover {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.filterResetHover:hover {
  color: rgba(255,0,0,1);
  cursor:pointer;
  user-select: none;
}

.txClickModeHover{
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.txClickModeHover:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}
.hoverRemoveToken {
  color: rgba(130,50,50,0.8);
  cursor:pointer;
  user-select: none;
}
.hoverRemoveToken:hover {
  color: rgba(255,0,0,1);
  cursor:pointer;
  user-select: none;
}
.hoverCloseEditTokenWindow {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverCloseEditTokenWindow:hover {
  color: rgba(0,255,0,1);
  cursor:pointer;
  user-select: none;
}

.leftBarGridTop {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  
}
.leftBarGridTopItem{
  text-align: center;
  user-select: none;
  cursor: pointer;
  /* background-color: rgba(255,255,255,0.4); */
}

.leftBarGridTopItem:hover{
  color: rgba(255,255,255,1);
  user-select: none;
  cursor: pointer;
}

thead {
  background-color: rgba(0,0,0,0.6);

}

th {
  color: rgba(255,255,255,0.9);
  user-select: none;
  cursor: pointer;
  /* background-color: rgba(255,255,255,0.4); */
  text-decoration:  underline;
}

/* alternate colors for every other tr */
tr:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
} 
tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.05);
}

.mySelectedCommunityHeldToken {
  background-color: rgba(200,150,10,1);
}

.hover {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hover:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}

.microService {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  border: 1px solid rgba(0,255,0,0.4);
  background-color:rgba(0,255,0,0.1);
  border-radius: 0.5vh;
  grid-column: span 2;

}
.emptySpacer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  background-color:rgba(0,0,255,0.3);
}

.gridIconSpacer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
}

.errorService {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  border: 1px solid rgba(255,0,0,0.4);
  background-color:rgba(255,0,0,0.1);
  border-radius: 0.5vh;
  grid-column: span 2;
}
.warningService {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  border: 1px solid rgba(255,255,0,0.4);
  background-color:rgba(255,255,0,0.1);
  border-radius: 0.5vh;
  grid-column: span 2;
}

.hoverWatchedTokenSelector {
  background-color: rgba(20,20,20,1);
  cursor:pointer;
  user-select: none;
}
.hoverWatchedTokenSelector:hover {
  background-color: rgba(35,35,35,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverWatchedTokenClippy {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverWatchedTokenClippy:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}
.PoolLinkHover {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.PoolLinkHover:hover {
  color: rgba(200,200,255,1);
  cursor:pointer;
  user-select: none;
}

.hoverOpacity {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverOpacity:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}


.expandedTxView {
  border: 1px solid rgba(255,255,255,0.1); 
  border-radius: 0.5vh;
  position: absolute;
  left: 0.49vw;
  bottom:0vh;
  width: 99vw;
  height: 100%;
  overflow: hidden;
  transition: height 0.5s, width 0.5s;
}

.fitTxView {
  border: 1px solid rgba(255,255,255,0.1); 
  border-radius: 0.5vh;
  position: absolute;
  left: 0.5vw;
  bottom:0vh;
  width: 75%;
  height: 80%;
  overflow: hidden;
  transition: height 0.5s, width 0.5s;
}


/* ------------------------------------------ */
/* ------------------------------------------ */
.graph-tooltip {
  position: absolute;
  transform: translate(-50%, 25px);
  font-family: sans-serif;
  font-size: 16px;
  padding: 4px;
  border-radius: 3px;
  color: #eee;
  background: rgba(0,0,0,0.65);
  visibility: grid;
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/* ------------------------------------------ */
/* ------------------------------------------ */


.node-info-panel {
  position: fixed;
  padding: 10px 20px;
  background-color: rgba(50, 50, 60, 0.9); /* Dark theme background */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #FFFFFF; /* White text */
  font-size: 14px;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it's on top of other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 250px;
}

.node-info-panel h2 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.node-info-panel p {
  margin: 10px 0;
}


/* Style for the table */
.menu-table {
  border-collapse: collapse;
  width: 100%;
}

/* Style for each table cell */
.menu-table td {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; /* Optional: To add a divider line between menu items */
}

/* Hover effect for the menu items */
.menu-table tr:hover {
  background-color: #666;
}


.spinner {
  border: 4px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}


.info-pane {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(10,10,30,0.6);
  position: relative;
}

/* .info-pane {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: ;
  z-index: 9999;
  position:absolute;
  top: 102%;
  left:0vw;
} */

.header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1vw;
}

.subheaders {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.thumbnail {
  position:absolute;
  left:0.2vw;
  top:0.2vh;
}

.disabled-watch-button {
  grid-column: 1 / 3; /* Span both columns */
  background-color: #222;
  color: #ddd;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: center;
}

.watch-button {
  grid-column: 1 / 3; /* Span both columns */
  background-color: #335;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: center;
}

.watch-button:hover {
  background-color: #555;
}
  
.data-point {
  margin-bottom: 5px;
}
.address-container {
  height: 20vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  bottom: 80%;
  background-color: #2c2c2c;
  border-radius: 8px;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
  z-index: 1; 
  border: 1px solid rgba(150,150,150,0.4);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1vw;
  width: 95%;
  margin: 0.25vh;
  padding: 1vh;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.cell:hover {
  transform: scale(1.1);
}

.icon {
  border: 1px solid rgba(255,255,255,0.3);
  background-color: rgba(5,5,5,0.4);
  margin-bottom: 5px;
  border-radius: 5px;
}

.descriptor {
  color: white;
  text-align: center;
  font-size: 0.6vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

/* Token Holder Stats Table Styles */
.token-holder-stats {
  width: 100%;
  border-collapse: collapse;
  background-color: #2a2a2e;
}

.token-holder-stats a {
  color: inherit; /* makes the link have the same color as surrounding text */
  text-decoration: none; /* removes the underline */
}

.token-holder-stats a:hover {
  text-decoration: underline; /* adds an underline when hovered */
}


.token-holder-stats thead th {
  padding: 10px 15px;
  background-color: #1e1e23;
  color: #c5c5c5;
  border-bottom: 2px solid #3f3f44;
}

.token-holder-stats tbody tr {
  border-bottom: 1px solid #3f3f44;
}


.token-holder-stats tbody tr:nth-child(odd) {
  background-color: rgba(50, 50, 80, 0.8); /* Adjust the color as desired for odd rows */
}

.token-holder-stats tbody tr:nth-child(even) {
  background-color: rgba(10, 10, 30, 0.6); /* Adjust the color as desired for even rows */
}




.tabs-widget-container {
  display: flex;
  gap: 1vh;
  position: absolute;
  top: -3.5vh;
  left:1vw;
}
.tabs-stage-container {
  display: flex;
  gap: 1vh;
  position: absolute;
  top: -2.5vh;
  left:1vw;
}

.tab {
  padding: 0.35vh 0.5vh;
  background-color: rgba(50,50,50,0.8);
  border: 1px solid rgba(110,150,255,0.5);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgba(150,220,255,1);
  height: 1.4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {

  background-color: rgba(100,100,100,1);
  color: rgba(180,240,255,0.7);
}

.tab.active {
  background-color: rgba(80,80,80,0.9);
  color: rgba(200,250,255,0.8);
  border: 1px solid rgba(180,240,255,1);
}


.normalOrders {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5vh;
  overflow-y: scroll;
  width: 100%;
  height: 34vh;
  cursor: pointer;
  transition: height 1s ease, top 1s ease;
}

.expandedOrders {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5vh;
  overflow-y: scroll;
  width: 100%;
  height: 100%; /* Assuming you want the height to fit content when expanded */
  cursor: pointer;
  position: fixed;
  background-color: #000;
  top:7vh;
  left:0;
  z-index:9999;
  transition: height 1s ease, top 1s ease;

}
.normalSeeMore{
  position: fixed;
  bottom: 2vh;
}





.summarizeButton {
  padding: 0.35vh 0.5vh;
  background-color: rgba(50,50,50,0.8);
  border: 1px solid rgba(110,150,255,0.5);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgba(150,220,255,1);
  height: 1.4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.4vh;
  left: 6vw;
}

.summarizeButton:hover {

  background-color: rgba(100,100,100,1);
  color: rgba(180,240,255,0.7);
}