body {
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  color: #61dafb;
}
a:visited {
  color: #0dd;
}
a:hover {
  color: #fff
}

.rowHover {
  
}
.rowHover:hover {
  border: 1px solid #fff;
}

.transactionRow{
  animation: infinite 1s newTxAnimation ease-in-out;
  box-sizing: border-box;
}

@keyframes newTxAnimation {
  0% {
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
  }

  50% {
    border-left: 5px solid rgba(255,255,255,1);
    border-right: 5px solid rgba(255,255,255,1);
  }
  100% {
    border-left: 5px solid rgba(255,255,255,0);
    border-right: 5px solid rgba(255,255,255,0);
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}


.deadHeartbeat {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.goodHeartbeat {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.showLatestBlock {
  visibility: visible;
  opacity: 1;
  transition: opacity 4s linear;
}

.hideLatestBlock {
  visibility: hidden;
  opacity: 0;
  /* transition: visibility 0s 0s, opacity 0s linear; */
}


.hoverAddNewToken {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverAddNewToken:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}


.timeFilter-slider{
  -webkit-appearance: none;
  width: 92%;
  margin-left:3.75vw;
  height: 1.5vh;
  border-radius: 5px;
  background: rgba(50,100,150, 1);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeFilter-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 3vw;
  height: 1.5vw;
  border-radius: 0.5vh;
  background: rgba(100,200,250, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;


}
/* .timeFilter-track{
  

} */

.hoverResetTimeFilter{
  background-color: rgba(100,200,250, 0.4);
  cursor:pointer;
  user-select: none;
}
.hoverResetTimeFilter:hover {
  background-color: rgba(100,200,250, 1);
  cursor:pointer;
  user-select: none;
}

.filterResetHover {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.filterResetHover:hover {
  color: rgba(255,0,0,1);
  cursor:pointer;
  user-select: none;
}

.txClickModeHover{
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.txClickModeHover:hover {
  color: rgba(255,255,255,1);
  cursor:pointer;
  user-select: none;
}
.hoverRemoveToken {
  color: rgba(130,50,50,0.8);
  cursor:pointer;
  user-select: none;
}
.hoverRemoveToken:hover {
  color: rgba(255,0,0,1);
  cursor:pointer;
  user-select: none;
}
.hoverCloseEditTokenWindow {
  color: rgba(255,255,255,0.4);
  cursor:pointer;
  user-select: none;
}
.hoverCloseEditTokenWindow:hover {
  color: rgba(0,255,0,1);
  cursor:pointer;
  user-select: none;
}

.leftBarGridTop {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  
}
.leftBarGridTopItem{
  text-align: center;
  color: rgba(255,255,255,0.4);
  user-select: none;
  cursor: pointer;
  /* background-color: rgba(255,255,255,0.4); */
}

.leftBarGridTopItem:hover{
  color: rgba(255,255,255,1);
  user-select: none;
  cursor: pointer;
}

thead {
  background-color: rgba(0,0,0,0.6);

}

th {
  color: rgba(255,255,255,0.9);
  user-select: none;
  cursor: pointer;
  /* background-color: rgba(255,255,255,0.4); */
  text-decoration:  underline;
}

/* alternate colors for every other tr */
tr:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
} 
tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.05);
}

.mySelectedCommunityHeldToken {
  background-color: rgba(200,150,10,1);
}